.newcollections {
    display: flex;
    flex-direction: column;    
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    /* height:70vh; */
    border: 6px solid blue;    
}

.newcollections h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
}

.newcollections hr {
    width: 460px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

/* .collections {
    display: flex;
    flex-wrap: wrap ;
    gap: 40px;
    margin: 50px;

} */

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 50px;

}