.popular {
    display: flex;
    flex-direction: column;    
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    /* height:70vh; */
    border: 6px solid red;    
}

.popular h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 460px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    display: flex;
    flex-wrap: wrap ;
    gap: 40px;
    margin: 50px;

}