.offers {
    border: 4px solid rgb(0, 255, 157);
    width: 65%;
    height: 50vh;
    display: flex;
    padding: 0px 140px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 250px;
    background: linear-gradient(180deg, rgb(222, 180, 180) 20%, rgb(158, 190, 158) 80%);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: black;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    cursor: pointer;
    background-color: rgb(124, 26, 26);
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
}